
    /* akstyles.css */



    body {
       padding: 10%;
    }
    
    
    .intro-image, .artist-info {
        background-image: url("akdisplay.jpg");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: rgb(0, 0, 0);
    }
    

    .music {
        margin: 8% 10% 0% 0%;
        padding: 5px;
        letter-spacing: .3px;
        width: 80vw;
        min-height: 100vh;
        border: 10px double lightblue;
        background-color: #000000;
        color: navy;
        font-weight: 700;
    }

    .music li {
        padding: 5px 0 5px 0;
    }

    .music h5 {
        color: orange;
    }

    figcaption {
        font-size: small;
    }
    .music-links {
        margin: 8% 8% 8% 2%;
        text-align: left;
        font-family: monospace;
        font-size: 18px;
        opacity: 1;
        color:#ff66c4;
        background-color: #000000;
        list-style-type: none;
        font-weight: 400;
    }
    
    .links-space {
        height: 40px;
    }

    .links {
        list-style-type: none;
        font-weight: 500;
    }

    .links-sb {
        list-style-type: none;
        font-weight: 500;
        color: #ff66c4;
        padding-bottom: 10px;
    }

    .krlogo {
        max-width: 100%;
        max-height: auto;
    }

    .a-link {
        list-style-type: none;
        font-weight: 500;
    }

 
    a:link, a:visited {
        text-decoration: none;
        color: #ffffff; 
    }

    a:hover {
        text-decoration: none;
        color: #E2A9F1; 
        border: 2px solid #fc7ff200;
    }

    .artist-info {
        margin: 5%;
        padding: 5%;
    }
    
    .artist-info h4 {
        color: rgb(5, 19, 65);
    }

    .artist-gallery {
        max-width: 115px;
        max-height: auto;
        /*float: right;*/
        margin: 10px 25px 10px 0;
        padding: 8px;
        border: 2px solid #E2A9F1;
    }

    video {
        margin: 1%;
        max-width: 280px;
        max-height: 200px;
    }

    .return-link {
        background-color: #f5eace;
        opacity: 0.9;
        padding: 1%;
        margin: 0% 5% 0% 5%;
    }

    .return-link a {
        color: rgb(12, 146, 255);
    }

    .return-link a:hover {
        color: rgb(0, 140, 255);
        font-weight: 500;
    }

    .site-footer {
        text-align: center;
        color: #f5eace;
        padding-top: 20px;
        font-size: 15px;
        margin-top: 20%;
    }

 
    
  


    
